<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <button class="navbar-toggler hidden-sm-up" 
            type="button" data-toggle="collapse" 
            data-target="#exCollapsingNavbar">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar">
      <a class="navbar-brand" href="#">Varbot Angular Tutorial</a>

      <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#">
          <i class="fa fa-home" aria-hidden="true" style="color:orangered"></i>
          Home <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link" href="#">
          <i class="fa fa-cubes" style="color: orangered"> </i>
          Products</a>
        <a class="nav-item nav-link" href="#">
          <i class="fa fa-building" style="color: orangered"> </i>
          Subscriptions</a>
        <a class="nav-item nav-link" href="#">
          <i class="fa fa-inr" style="color: orangered"> </i>
          Bills</a>
        <a class="nav-item nav-link" href="#">
          <i class="fa fa-users" style="color: orangered"> </i>
          Contacts</a>      
        <a class="nav-item nav-link" href="#">
          <i class="fa fa-user" style="color: orangered"> </i>
          My Profile</a>  
      </div>

      <div class="nav navbar-nav pull-right">
      <a class="nav-item nav-link" href="#">
        <i class="fa fa-sign-out"  style="color: orangered"></i>Sign out</a>
      </div>
    </div>
  </div>
</nav>